<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <kkkonrad_rma>
            <general>
                <enabled>1</enabled>
                <return_window_days>30</return_window_days>
                <max_file_size_mb>5</max_file_size_mb>
                <allowed_file_extensions>jpg,jpeg,png,gif,pdf,mp4</allowed_file_extensions>
                <customers_can_cancel_rma>0</customers_can_cancel_rma>
                <excluded_skus></excluded_skus>
                <custom_css></custom_css>
                <custom_js></custom_js>
                <allow_guest_rma>0</allow_guest_rma>
                <terms_enabled>0</terms_enabled>
                <terms_cms_page></terms_cms_page>
                <excluded_customer_groups></excluded_customer_groups>
            </general>



            <email>
                <sender>general</sender>
                <created_template>kkkonrad_rma_email_rma_created</created_template>
                <status_changed_template>kkkonrad_rma_email_status_changed</status_changed_template>
                <label_uploaded_template>kkkonrad_rma_email_label_uploaded</label_uploaded_template>
                <admin_notification_email></admin_notification_email>
                <admin_notification_template>kkkonrad_rma_email_admin_notification</admin_notification_template>
                <message_added_template>kkkonrad_rma_email_message_added</message_added_template>
            </email>
            <automation>
                <auto_cancel_days>14</auto_cancel_days>
            </automation>
        </kkkonrad_rma>
    </default>
</config>
