<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add Create RMA button to order view via plugin -->
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="kkkonrad_rma_add_create_button"
                type="Kkkonrad\Rma\Plugin\Adminhtml\Order\ViewPlugin"/>
    </type>
</config>
